body {
    font-family: American Typewriter, sans-serif;
    background-color: #f1f1f1;
}
.header {
    height: 50px;
}
.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
}

#ctn1 {
    width: 1400px;
    display: flex;
    flex-direction: row;
    background-color: #fff;
}
.vis1 {
    width: 900px;
    background-color: #fff;
}
#overview-svg {
    position: absolute;
    z-index: 1;
}

#overview-canvas-bg {
    position: absolute;
    z-index: 1;
}

#overview-canvas-hull {
    position: absolute;
    z-index: 2;
}

#overview-canvas-vor {
    position: absolute;
    z-index: 3;
}

#overview-canvas-nodes {
    position: absolute;
    z-index: 3;
    shape-rendering: optimizeSpeed;
}

#overview-canvas-sel {
    position: absolute;
    z-index: 4;
}

#overview-canvas-trj {
    position: absolute;
    z-index: 4;
}

#overview-overlay {
    position: absolute;
    z-index: 5;
}

#overview-slider {
    position: absolute;
    z-index: 6;
}
.slider{
    cursor: grabbing;
}

.tick {
    stroke-opacity: 0.5;
    stroke-dasharray: 2,2;
    fill: grey;
}
.menu {
    width: 500px;
    background-color: #fff;
}

#trajectory {
    height: 700px;
}

#trajectory-clip {
    height: 660px;
    transform: translate(0, 20px);
    overflow-y: scroll;
    overflow-x: hidden;
}

#trajectory-ctrl {
    position: absolute;
    width: 200px;
    height: 100px;
    padding: 10px;
    transform: translate(265px, -640px);
}

.ctn2 {
    width: 1400px;
}

.vis2 {
    width: 1400px;
    display: flex;
    flex-direction: row;
    background-color: #fff;
}


.axis line {
    fill: none;
}
.axis text {
    fill: #5a5a5a;
    font-family: American Typewriter, serif;
    transform: rotate(10deg);
}
.active {
    opacity: 0.8;
}
#tooltip1 {
    display: none;
    position: absolute;
    text-align: center;
    width: 100px;
    height: 70px;
    padding: 2px;
    font-size: 10px;
    background: #e5ecf6;
    border: 2px;
    border-radius: 8px;
    opacity: 0;
    pointer-events: none;
}
#tooltip2 {
    text-align: center;
    position: absolute;
    transform: translate(575px, 575px);
    width: 300px;
    height: 100px;
    padding: 2px;
    background: #e5ecf6;
    border: 2px;
    opacity: 0.8;
    pointer-events: none;
    z-index: 6;
}

#tooltip3 {
    display: none;
    text-align: center;
    position: absolute;
    transform: translate(-154px, 216px);
    font-size: 10px;
    width: 130px;
    height: 60px;
    padding: 2px;
    background: #e5ecf6;
    border: 2px;
    opacity: 0.8;
    pointer-events: none;
}